@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-parent:hover .hover-child {
    visibility: visible;
}

.hover-child {
    visibility: hidden;
}

/* .focus\:ring-tremor-brand-muted:focus {
    --tw-ring-opacity: 0 !important;
} */

.custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
    background-color: #F1F4F3;
}
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #B6C8C3;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #91a09c;
}